.services {
    padding-top: 0px;
    padding-bottom: 94px;
}

.list-services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.examples-service {
    position: relative;
    margin-right: 30px;
    &:nth-child(3n) {
            margin-right: 0px;
        }
}

.examples-service-background {
    position: absolute;
    bottom: 0px;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.examples-service-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 27px;
    padding-bottom: 27px;
}

.title-services {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: var(--title-color);
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
    .services {
            display: none;
        }
}