body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #757575;
}

:root {
    --brand-color: #2196F3;
    --title-color: #212121;
    --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --primary-blue-color: #2196f3;
  --second-color-tetx: #757575;
  --menu-text-color: #212121;
  --backgraund-gray-color: #2f303a;
  --header-logo-text: #000000;
  --button-main-accent: #188ce8;
  --backgraund-white: #f5f4fa;
  --social-fill-gray: #afb1b8;

  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

